.task-actions {
    display: flex;
    margin-block: 20px;
    justify-content: space-between;
}

.btn-check_block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-check {
    cursor: pointer;
    flex: 0 0 auto;
}

.task-answers {
    display: flex;
    flex-direction: column;
}